footer {
	position: relative;
	
	.footersection {
		min-height: 250px;
		width: 300px;

		h1 {
			font-family: Alegreya;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
			padding-block: 8px;
		}
		
		#footernav {
			a {
				display: block;
				text-decoration: underline;

				&:before {
					content: "• "
				}

				&.selected {
					display: none;
				}
			}
		}

		#footerlinks {
			text-align: center;

			img {
				width: 50px;
			}
		}
	}

	#copyright {
		position: absolute;
		right: 15px;
		bottom: 5px;
		margin: 0;

		&:hover {
			opacity: 0.1;
		}
	}
}
