footer {
	.footersection {
		min-height: 250px;
		width: 300px;

		h1 {
			font-family: Alegreya;
			text-align: center;
			font-size: 24px;
			font-weight: bold;
			padding-block: 8px;
		}
		
		#footernav {
			a {
				display: block;
				text-decoration: underline;

				&:before {
					content: "• "
				}

				&.selected {
					display: none;
				}
			}
		}

		#footerlinks {
			img {
				width: 50px;
			}
		}
	}
}
@media screen and (max-width: 520px) {
	footer {
		flex-direction: column;

		.footersection {
			margin: auto;
		}
	}
}
