@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	src: url(../assets/fonts/SourceSans3-Regular.ttf);
	font-family: SourceSans3;
}
@font-face {
	src: url(../assets/fonts/Alegreya-Regular.ttf);
	font-family: Alegreya;
}

body {
	font-family: SourceSans3;
	margin: 0px;
}
a {
	color: var(--primary-text);
	text-decoration: none;
}
