@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	src: url(../assets/fonts/SourceSans3-Regular.ttf);
	font-family: SourceSans3;
}
@font-face {
	src: url(../assets/fonts/Alegreya-Regular.ttf);
	font-family: Alegreya;
}

body {
	font-family: SourceSans3;
	margin: 0px;
}
a {
	color: var(--primary-text);
	text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: theme('colors.papyrus');
}
::-webkit-scrollbar-thumb {
  background: theme('colors.coffee');
}
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.ink');
} 
