nav {
	a {
		font-size: 20px;
		text-decoration: none;
		padding-inline: 12px;

		&.selected {
			font-weight: bold;
			color: theme('colors.coffee');
		}
	}
}

@media screen and (max-width: 480px) {
	nav {
		a {
			font-size: 18px;
		}
	}
}
