nav {
	text-align: center;
	color: var(--secondary-text);
	user-select: none;
	border-bottom: 1px solid var(--secondary);
	padding-block: 8px;

	a {
		font-size: 20px;
		color: var(--primary-text);
		cursor: pointer;
		text-decoration: none;

		&.selected {
			color: var(--secondary-text);
			font-weight: bold;
		}
	}
}

@media screen and (max-width: 480px) {
	nav {
		a {
			font-size: 18px;
		}
	}
}
