nav {
	a {
		text-decoration: none;
		padding-inline: 12px;
		transition: all 0.2s ease-out;
		display: inline-block;

		&.selected {
			font-weight: bold;
			color: theme('colors.coffee');
			padding-inline: 18px;
		}
	}
}

@media screen and (max-width: 480px) {
	nav {
		a {
			font-size: 18px;
		}
	}
}
