<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Example</title>
	<%= htmlWebpackPlugin.tags.headTags %>
</head>
<body class="bg-black">
	<%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>
